* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

body {
  font-family: 'Open Sans' !important;
  font-size: 16px !important;
  color: #687c8c;
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;
}

body.modal-open {
  overflow: hidden;
}

.-f- {
  width: 1170px;
  margin: 0 auto;
}

.-w- {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
}

.-no-padding {
  padding: 0;
}

.-text-center {
  text-align: center;
}

a {
  color: inherit;
  outline: 0;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  outline: 0;
  text-decoration: none;
}

textarea {
  border: 1px solid rgba(93, 115, 171, 0.4);
  border-radius: 5px;
  outline: 0;
  padding: 7px;
}

textarea:hover, textarea:focus, textarea:active {
  outline: 0;
  text-decoration: none;
}

.button {
  display: block;
  padding: 5px 10px;
  font-weight: normal;
  border-radius: 4px;
  color: #fff;
  transition: all 0.2s ease;
  border: 1px solid rgba(255, 255, 255, 0);
  cursor: pointer;
}

.button.-blue {
  background-color: #5d73ab;
  border: 1px solid #5d73ab;
}

.button.-blue:hover {
  background-color: rgba(255, 255, 255, 0);
  color: #5d73ab;
}

.button.-dark-blue {
  background-color: #4a5e6e;
  border: 1px solid #4a5e6e;
}

.button.-dark-blue:hover {
  background-color: rgba(255, 255, 255, 0);
  color: #4a5e6e;
}

.button.-primary {
  background-color: #e8566d;
  border: 1px solid #e8566d;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.button.-primary:hover {
  background-color: rgba(232, 86, 109, 0);
  color: #e8566d;
}

.button.-secondary {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(74, 94, 110, 0.4);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 300;
  color: rgba(74, 94, 110, 0.6);
  text-align: center;
}

.button.-secondary:hover {
  border-color: rgba(74, 94, 110, 0.9);
  color: #4a5e6e;
}

.button.-without-right-border {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right: 0;
}

.button.-without-left-border {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-left: 0;
}

.icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
  height: 17px;
  width: 17px;
}

.icon .-helper {
  background-color: #4a5e6e;
  color: #fff;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 0;
  position: absolute;
  top: 50%;
  padding: 4px;
  transition: all 0.2s ease;
  opacity: 0;
  transform: translate(0, -50%);
}

.icon:hover .-helper {
  opacity: 1;
  transform: translate(-100%, -50%);
}

.icon-like {
  background-image: url("../img/like-white.png");
  cursor: pointer;
}

.icon-like.-checked {
  background-image: url("../img/like-pink.png");
}

.icon-add {
  background-image: url("../img/add-white.png");
  cursor: pointer;
}

.icon-add.-checked {
  background-image: url("../img/like-pink.png");
}

.icon-circle {
  background-image: url("../img/circle.svg");
}

.icon-circle.-checked {
  background-image: url("../img/circle.svg");
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-image: url("../img/bg.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  z-index: 50;
}

.header--helper {
  height: 55px;
}

.header--container {
  justify-content: space-between;
  margin-top: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #fff;
  border-radius: 4px;
}

.header--container .logo {
  height: 40px;
}

.header--container .logo img {
  height: 100%;
  width: auto;
}

.header--buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 185px;
}

.items--item {
  background-color: #fff;
  border-radius: 4px;
  margin-top: 30px;
  overflow: hidden;
  width: 31%;
}

.items--item:hover .items--item-menu {
  opacity: 1;
}

.items--item-img {
  height: 150px;
  background-position: center;
  background-size: 103%;
  background-repeat: no-repeat;
}

.items--item-img-overflow {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 15px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.2s ease;
}

.items--item-img-overflow:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.items--item-menu {
  background-color: #4a5e6e;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 7px;
  opacity: 0;
  transition: all 0.2s ease;
}

.items--item-menu-item {
  position: relative;
}

.items--item-menu-item + .items--item-menu-item {
  margin-top: 7px;
}

.items--item-description {
  padding: 15px;
}

.items--item-description-title {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.items--item-description-text {
  font-size: 0.8rem;
  margin: 15px 0;
}

.single-recipe {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

form.single-recipe {
  width: 100%;
}

.single-recipe--left {
  display: flex;
  flex: 1 2 auto;
  flex-wrap: wrap;
  margin-right: 15px;
}

.single-recipe--header {
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 230px;
  margin-right: 15px;
  min-width: 150px;
  position: relative;
  width: 100%;
}

.single-recipe--info-line {
  align-items: center;
  background-color: rgba(232, 86, 109, 0.4);
  color: #fff;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.single-recipe--info-line-back-link {
  border-radius: 5px;
  cursor: pointer;
  padding: 0 15px;
}

.single-recipe--info-line-title {
  font-size: 1.7rem;
  font-weight: 300;
  padding: 0 15px;
}

.single-recipe--info-line-title input {
  font-size: 1.7rem;
  font-weight: 300;
}

.single-recipe--right {
  position: absolute;
  right: 0;
  top: 50px;
  width: 23%;
}

.single-recipe--right-item {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  padding: 15px;
  transition: all 0.2s ease;
}

.single-recipe--right-item:hover {
  background-color: #fff;
}

.single-recipe--right-item + .single-recipe--right-item {
  margin-top: 15px;
}

.single-recipe--right-item .button + .button {
  margin-top: 7px;
}

.single-recipe--likes-buttons {
  align-items: center;
  display: flex;
}

.single-recipe--likes-buttons-item {
  align-items: center;
  background-color: rgba(74, 94, 110, 0.6);
  border-radius: 2px;
  display: flex;
  padding: 2px;
}

.single-recipe--likes-buttons-item + .single-recipe--likes-buttons-item {
  margin-left: 5px;
}

.single-recipe--likes-buttons-item .-helper {
  color: #fff;
  line-height: 0;
  margin-left: 5px;
}

.single-recipe--ingredients {
  display: flex;
  flex-direction: column;
}

.single-recipe--ingredients-title {
  font-size: 1.2rem;
  padding-bottom: 7px;
}

.single-recipe--ingredients-item {
  align-items: center;
  display: flex;
  min-width: 50%;
  padding-left: 15px;
}

.single-recipe--ingredients-item .icon {
  height: 10px;
  width: 10px;
}

.single-recipe--ingredients-item span + span {
  margin-left: 7px;
}

.single-recipe--ingredients-item textarea {
  height: 150px;
  margin-left: -8px;
  resize: none;
  width: 100%;
}

.single-recipe--main {
  margin-top: 15px;
  width: 75%;
}

.single-recipe--main-content {
  background-color: white;
  border-radius: 5px;
  padding: 15px;
}

.single-recipe--main-content-title {
  color: #fff;
  display: flex;
  font-size: 1.2rem;
  font-weight: 300;
  justify-content: space-around;
  margin-bottom: 7px;
  text-transform: uppercase;
}

.single-recipe--main-content-title span {
  background-color: #e8566d;
  border-radius: 5px;
  padding: 0 15px;
}

.single-recipe--main-content-text textarea {
  height: 200px;
  resize: none;
  width: 100%;
}

.single-recipe--main-content-text input {
  padding: 0;
  text-align: center;
  width: 150px;
}

.comments {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

.comments--tip-title {
  font-size: 1.5rem;
  font-weight: 300;
}

.comments--tip-title-inner {
  background-color: #e8566d;
  border-radius: 5px;
  color: #fff;
  padding: 0 5px;
}

.comments--item {
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  margin-top: 15px;
  padding: 15px;
  width: 100%;
}

.comments--item-add {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 100%;
}

.comments--item-add-label {
  font-size: 1rem;
  padding-bottom: 7px;
}

.comments--item-add textarea {
  height: 80%;
  resize: none;
  width: 100%;
}

.comments--item-add-button-wrapper {
  align-self: flex-end;
  margin-top: 15px;
}

.comments--item-img {
  border-right: 1px solid rgba(93, 115, 171, 0.4);
  margin-right: 15px;
}

.comments--item-img-ava {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  height: 110px;
  margin-right: 15px;
  width: 100px;
}

.comments--item-content {
  display: flex;
  flex-direction: column;
}

.comments--item-content-header {
  align-items: baseline;
  border-bottom: 1px solid rgba(93, 115, 171, 0.4);
  display: flex;
  justify-content: space-between;
  padding-bottom: 7px;
  width: 100%;
}

.comments--item-content-title {
  font-size: 1.2rem;
  font-weight: 300;
}

.comments--item-content-date {
  font-size: 0.5rem;
  font-weight: 400;
}

.comments--item-content-text {
  font-size: 0.9rem;
  padding-right: 15px;
  padding-top: 7px;
}

.modal {
  display: none;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}

.modal.visible {
  display: flex;
}

.modal--content {
  background-color: #fff;
  border-radius: 5px;
  left: 50%;
  padding: 0 15px 30px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  z-index: 100;
}

.modal--overflow {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 99;
}

.modal--header {
  font-size: 1.2rem;
  font-weight: 300;
  padding: 15px 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.modal--close {
  background-image: url("../img/x.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  height: 15px;
  opacity: .7;
  position: absolute;
  right: -5px;
  top: 10px;
  width: 15px;
}

.modal--close:hover {
  opacity: 1;
}

.modal--form {
  display: flex;
  flex-direction: column;
}

.modal--form input {
  border: 1px solid #4a5e6e;
  border-radius: 5px;
  color: #4a5e6e;
  font-size: 1rem;
  margin-top: 15px;
  padding: 5px 15px;
  width: 100%;
}

.modal--form input:focus {
  border-color: #e8566d;
  outline: none;
}

.modal--form input.button {
  height: 40px;
}

.footer {
  position: fixed;
  bottom: 0;
  background-image: url("../img/bg-footer.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 140px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: rgba(255, 255, 255, 0.4);
  padding-bottom: 15px;
  font-size: 0.8rem;
}

.footer--helper {
  height: 155px;
}
